.body {
	margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to bottom right, salmon, rgb(223, 223, 63));
}
.page {
  font-family: 'Lacquer', sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 400px;
  width: 500px;
  border: 1px black solid;
  border-radius: 15px;
  background: white;
}

.page:first-letter, .title:first-letter, .text:first-letter, .btn:first-letter, .clue:first-letter {
  text-transform: capitalize;
}
.clue {
  color: blue;
  border: blue 1px solid;
  text-align: center;
  padding: 13px 13px;
}
.counter {
  color: red;
  font-family: sans-serif;
  font-size: 70px;
  font-weight: 500;
  font-family: 'Lacquer', sans-serif;
}
.btn, .reset-btn {
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 140px;
  margin-top: 20px;
  font-family: 'Lacquer', sans-serif;
  cursor: pointer;
  &:hover{
    background-image: linear-gradient(to bottom right, salmon, rgb(223, 223, 63));
  }
}
.try{
  text-transform: capitalize;
  font-style: italic;
}
.input{
  font-family: 'Lacquer', sans-serif;
}
