<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Adivinar el número</title>
    <link rel="icon" href="favicon.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="body">
    <div class="page">
      <h1 class="title">adivina el número</h1>
      <p class="text">introduce aquí tu número</p>
      <input type="number" name="number" id="number" value="" class="input" />
      <button type="button" class="btn">prueba</button>
      <p class="clue">
        escribe un número y dale a <span class="try">prueba</span>
      </p>
    </div>
    <div class="counter">0</div>
    <script type="text/javascript" src="../assets/js/main.js"></script>
  </body>
</html>
